body {background-color: blanchedalmond;
    padding: 10;
}
img { width: 400px;
     
}
nav ul li{
    text-decoration: black;
    list-style: none;
    margin: 0px 20px;
    color: black;
    font-weight: bold;

}
    nav ul li a:hover{
        color: red;
    }
     
    nav ul li{
        display: inline-block;
        list-style: none;
        margin: 10PX 20PX;
    } 
        


    
